.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu đen với độ mờ 50% */
    z-index: 9999;
    /* Đặt lớp mờ ở phía trên cùng */
}

.main-add-meter {
    width: 500px;
    height: 540px;
    background-color: #e8f4ff;
    position: relative;
    top: 80px;
    left: 500px;
    border-radius: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;

    .icon-close-add-meter {
        position: absolute;
        height: 25px;
        width: 25px;
        right: 10px;
        top: 10px
    }

    .icon-close-add-meter:hover {
        color: red;
    }

    .form-add-meter {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
    }

    .form-flex-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .form-flex-column>label {
        position: relative;
        left: 10px;
        margin-bottom: 6px;
    }

    .form-flex-column>input {
        height: 30px;
        width: 90%;
        position: relative;
        left: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .form-flex {
        display: flex;
        width: 100%;
    }

    .form-flex-column>select {
        height: 30px;
        width: 96%;
        position: relative;
        left: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .btn-save-meter {
        margin-top: 10px;
        height: 40px;
        width: 96%;
        position: relative;
        left: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        color: white;
        background-color: green;
        font-size: 16px;
    }

    .btn-save-meter:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}