::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }
  
  /* Thay đổi màu của phần cuộn trên thanh cuộn */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  /* Thay đổi màu của phần nền phía sau của thanh cuộn */
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
.main-item-bank {
    width: 60%;
    height: 100px;
    position: relative;
    background-color: #b335ec;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.main-item-bank>div {
    display: flex;
    flex-direction: column;
}
.main-item-bank>div>label {
    font-size: 16px;
    font-weight: 600;
}
.main-item-bank:hover {
    cursor: pointer;
}