:root {
    --width-menu: 60px;
}

.main-nav {
    .header-nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        width: calc(100vw - var(--width-menu));
        background-color: #043989;
        transition: width 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-user {
            display: flex;
            align-items: center;
            margin-right: 50px;
            cursor: pointer;
        }

        .form-logout {
            position: absolute;
            z-index: 100;
            top: 60px;
            right: 50px;
            height: 0px;
            overflow: hidden;
            width: 200px;
            background-color: #fa9805;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;


            .form-item-1,
            .form-item-2,
            .form-item-3 {
                width: 100%;
                height: 48.4px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }


            .form-item-1:hover,
            .form-item-2:hover,
            .form-item-3:hover {
                cursor: pointer;
                background-color: #b36b00;
            }

            .form-item-3 {
                height: 51px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .form-item-1,
            .form-item-2 {
                border-bottom: 1px solid white;
            }
        }

        .form-logout.show {
            height: 150px;
            transition: height 0.3s ease;
        }
    }

    .menu-nav {
        z-index: 100;
        height: 100vh;
        width: var(--width-menu);
        background-color: #043989;
        transition: width 0.3s ease;
        display: flex;
        flex-direction: column;

        .menu-title {
            height: 60px;
            width: var(--width-menu);
            background-color: #ffa200;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
        }

        .menu-title>span {
            color: white;
            font-size: 25px;
            font-weight: 600;
        }

        .list-menu {
            position: relative;
            top: 50px;
            display: flex;
            align-items: center;
        }

        .list-menu>ul {
            list-style: none;
            width: 100%;
            padding: 0;
        }

        .list-menu>ul.close {
            padding: 0;
        }

        .li-menu {
            margin-bottom: 20px;
            height: 60px;
            width: 100%;
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .li-ul-menu.ul {
            height: 60px;
            width: 100%;
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
        }

        .li-ul-menu.close {
            color: white;
            margin-bottom: 20px;
            height: 50px;
        }

        .li-ul-menu.close:hover {
            background-color: #0057da;
        }

        .li-ul-menu.ul.open {
            transition: height 0.3s ease-in-out;
            height: 230px;
        }

        .li-ul-menu.ul>div {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        .li-ul-menu.ul>div>div {
            display: flex;
            height: 100%;
            align-items: center;
            width: 100%;
        }

        .li-ul-menu.ul>div>div:hover {
            background-color: #0057da;
        }

        .open {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 0;
            width: 100%;
        }

        .admin-li {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            align-items: center;
            height: 60px;
        }

        .admin-li:hover {
            background-color: #0057da;
        }

        .li-menu:hover {
            background-color: #0057da;
        }

        .icon-close {
            padding: 20px;
        }

        .list-menu>ul>li.close {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}